@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: salmon;
}


.container {
    padding: 20px 40px;
    width: 50%;
    line-height: 1.68;
  }

  h1 {
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    font-size: 3.68em;
    line-height: 1.4em;
    color: steelblue;
  }
  
  .pullquote {
    color:snow;
    font-family: "Libre Baskerville", serif;
    font-style: italic;
    font-style: bold;
    letter-spacing: 1px;
    font-size: 2em;
  }

p {
    color:slategray;
}

  