* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    overflow: hidden;
}
body {
    font-family: 'Gill Sans MT', sans-serif;
    background: #333;
    color: #fff;
    line-height: 1.6;
    height: 100%;
    overflow: hidden;
    

}

body {
    color: #f2f2f2;
}




section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    height: 100vh;
    scroll-snap-align: center;

}

section h1 {
    font-size: 4rem;
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black;
}

section p {
    font-size: 1.6rem;
    text-shadow:
    0.02em 0 black,
    0 0.02em black,
    -0.02em 0 black,
    0 -0.02em black;
}



nav{
    position: fixed;


    height: 25px;
}
.navbar{
    position: fixed;
    width:100%;
    top: 0; 
    z-index: 1;
    display:flex;
    justify-content: space-around;
    list-style: none;
    background: #ff7300;
    line-height: 25px;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
 /* Where CSS Smooth scrolling will go */
 
}
.container a{
    text-decoration: grey;
    color: white;
    font-family: "roboto";
    font-weight: bolder;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(255, 115, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


li{
    padding:0 40px;
}

li:hover{
    transform: scale(1.2);
    animation: changeMe 1s ease-in-out .1s;
}
@keyframes changeMe{
    0%{
        background: #d64501;
        transform: scale(0.8);
    }

    33%{
        background: #be3c00;
    }

    66%{
        background: #9e4801;
        transform: scale(1.2);
    }

    100%{
        background: #ff6600;
    }
}

/* Section Images */
section#HOME {
    background: url(Images/Cambridge_BackyardGBH_Blackbird.png) no-repeat center center/ cover;
}

section#ABOUT {
    background: url(Images/GBH_Nest_7_8_20.png) no-repeat center center/ cover;
}

section#BIRDSOFPREY {
    background: url(Images/Osprey1\ 7_5_20.png) no-repeat center center/ cover;
}

section#WATERBIRDS {
    background: url(Images/Least_Sandpiper_Group1_5_24_20.png) no-repeat center center/ cover;
}

section#WOODPECKERS {
    background: url(Images/Hairy\ Woodpecker\ 9_2_20.png) no-repeat center center/ cover;
}

section#SONGBIRDS {
    background: url(Images/Northern\ Cardinal_Female.png) no-repeat center center/ cover;
}
