* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    color: #f2f2f2;
}


.HOME {
    background: green;
    height: 100%;
}

.ABOUT {
    background: pink;
    height: 100%;
}

.ENCAMPMENT {
    background: lemonchiffon;
    height: 100%;
}

.STATUES {
    background: tomato;
    height: 100%;
}

.STRAWBERRYMANSION {
    background: tomato;
    height: 100%;
}

.POLICESTATION {
    background: tomato;
    height: 100%;
}


nav{

    height: 25px;
}
.container{
    display:flex;
    justify-content: space-around;
    list-style: none;
    background: #ff007a;
    line-height: 25px;
}
.container a{
    text-decoration: none;
    color: white;
    font-family: "roboto";
    font-weight: bolder;
}
li{
    padding:0 40px;
}

li:hover{
    transform: scale(1.2);
}